@import "tailwindcss";

:root {
  --background: #eeeeee;
  --foreground: #171717;
  --article: white;
  --font-actor: 'Actor', sans-serif;
}

body {
  background: #016420;
  background: linear-gradient(4deg, rgb(2, 102, 34) 0%, rgb(255, 255, 255) 92%);
  font-family: var(--font-actor);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
    --article: #00000050;
  }

  body {
    background: #00c43e;
    background: linear-gradient(4deg, rgb(2, 102, 34) 0%, rgba(0, 0, 0, 1) 92%);
  }

}




input#search {
  background: var(--background);
  color: var(--foreground);
}


article,
table {
  color: var(--foreground);
  background: var(--article);

}

form,
h2,
a,
p,
article,
time,
span {
  color: var(--foreground);

}

header a,
header p,
header button,
header input {
  color: white
}

form {
  background: var(--article);
}